# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
.venv/
env/
venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
*.sqlite3

# Docker
Dockerfile
.dockerignore

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Others
*.bak
*.tmp
